.jobCardAsset {
  height: 230px !important;
  background-color: white !important;
  text-align: center;
  padding: 2rem;
}

.jobCardContent {
  margin: 0;
  padding: 0;
}

.jobCardTitle {
  background-color: #e0e0e0;
  word-break: normal;
  word-wrap: normal;
}

coral-icon.smallIcon {
  padding: .9375rem;
  background-color: #bbb;
  margin-right: .5rem
}

coral-icon.mediumIcon {
  font-size: 1rem;
  margin-right: 1rem;
}

coral-icon.smallIcon {
  color: #fff;
}

coral-icon.error {
  color: #fa7d73;
}

coral-icon.errorBackground {
  background-color: #fa7d73;
}

coral-icon.warn {
  color: #fad782;
}

coral-icon.warnBackground {
  background-color: #fad782;
}

coral-icon.success {
  color: #b3da8a;
}

coral-icon.successBackground {
  background-color: #b3da8a;
}

coral-icon.info {
  color: #696969;
}

coral-icon.infoBackground {
  background-color: #696969;
}

.truncatedText {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  word-break: normal;
  word-wrap: normal;
}

.propertyWithMargin {
  margin: 1rem !important;
}

.darkText {
  color: #666;
  margin-right: 2rem;
}

.aem-modernize-rule-list, .aem-modernize-path-list {
  display: none;
}
