scripts=["
create path /var/aem-modernize(sling:Folder)
create path /var/aem-modernize/job-data(sling:Folder)

# Cover any missing paths on CS
create path /etc/designs(sling:Folder)

create service user aem-modernize-schedule-job-service with forced path system/cq:services/aem-modernize
set principal ACL for aem-modernize-schedule-job-service
    allow jcr:read on /
    allow jcr:readAccessControl on /content,/conf,/etc
    allow rep:write on /var/aem-modernize/job-data
end

create service user aem-modernize-convert-service with forced path system/cq:services/aem-modernize
set principal ACL for aem-modernize-convert-service
    allow jcr:read on /
    allow rep:write on /etc/designs
    allow rep:write on /conf
    allow rep:write on /content
    allow jcr:versionManagement on /content
    allow rep:write on /var/aem-modernize/job-data
end

create path /apps/aem-modernize(nt:unstructured)
create path /apps/aem-modernize/content(nt:unstructured)

create path /apps/cq(nt:unstructured)
create path /apps/cq/core(nt:unstructured)
create path /apps/cq/core/content(nt:unstructured)
create path /apps/cq/core/content/nav(nt:unstructured)
create path /apps/cq/core/content/nav/tools(nt:unstructured)
create path /apps/cq/core/content/nav/tools/aem-modernize(nt:unstructured)

set ACL for everyone
  deny jcr:all on /apps/aem-modernize/content
  deny jcr:all on /apps/cq/core/content/nav/tools/aem-modernize
end
"]
