<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h3><a href="{{ site.baseurl }}/">{{ site.title }}</a></h3>
            </header>
            <ul>
                <li>
                    <span class="opener">The Tools</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/tools/page-structure.html">Page Structure Converter</a></li>
                        <li><a href="{{ site.baseurl }}/pages/tools/component.html">Component Converter</a></li>
                        <li><a href="{{ site.baseurl }}/pages/tools/policy-importer.html">Policy Importer</a></li>
                        <li><a href="{{ site.baseurl }}/pages/tools/dialog.html">Dialog Converter</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Planning & Operation</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/plan-operate/plan.html">Project Planning</a></li>
                        <li><a href="{{ site.baseurl }}/pages/plan-operate/evaluation.html">Evaluating a Site</a></li>
                        <li><a href="{{ site.baseurl }}/pages/plan-operate/set-up.html">Set Up</a></li>
                        <li><a href="{{ site.baseurl }}/pages/plan-operate/usage.html">Using the Tools</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Configuration</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/configuration/page-structure.html">Page Structure Converter</a></li>
                        <li><a href="{{ site.baseurl }}/pages/configuration/component.html">Component Converter</a></li>
                        <li><a href="{{ site.baseurl }}/pages/configuration/policy-importer.html">Policy Importer</a></li>
                        <li><a href="{{ site.baseurl }}/pages/configuration/dialog.html">Dialog Converter</a></li>
                    </ul>
                </li>
                <li>
                    <span class="opener">Development</span>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/development/api.html">API Java Docs</a></li>
                        <li><a href="{{ site.baseurl }}/pages/development/extending.html">Extending</a></li>
                        <li><a href="{{ site.baseurl }}/pages/development/troubleshooting.html">Troubleshooting</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/pages/contribute.html">Contributing</a></li>
                <li><a href="{{ site.baseurl }}/pages/license-support.html">Support &amp; Licensing</a></li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Download</h2>
            </header>
            <article>
                <p>Download the latest release from GitHub.</p>
            </article>

            <ul class="actions">
                <li style="margin-bottom: 1rem;">
                    <a href="https://github.com/adobe/aem-modernize-tools/releases/" target="_blank" class="button">Download the latest Release</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/pages/releases.html" class="button">Learn about the latest Release</a>
                </li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>GitHub Project</h2>
            </header>
            <p>
                AEM Modernization Tools' source code is open and freely available on GitHub.
            </p>

            <ul class="contact">
                <li class="fa-github"><a href="https://github.com/adobe/aem-modernize-tools" target="_blank">github.com/adobe/aem-modernize-tools</a></li>
                <li class="fa-bug"><a href="https://github.com/adobe/aem-modernize-tools/issues" target="_blank">Report issues</a></li>
                <li class="fa-pencil"><a href="{{ site.baseurl }}/pages/contribute.html">Learn how to contribute</a></li>
                <li class="fa-rocket"><a href="{{ site.baseurl }}/pages/releases/process.html">Learn about the release process</a></li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Adobe Systems, Inc.</p>
        </footer>

    </div>
</div>