/* Overrides */

body {
  font-size: 12pt;
}

h1 {
  font-weight: 200;
}


.button, a[href] {
  font-weight: 400;
}


h1 {
  font-size: 3.25rem;
  margin-top: 1.6rem;
}

h2, h3, h4, h5, h6 {
  font-weight: 400;
}

#main {
  padding-left: 0;
}

#main > .inner {
  margin: 0 0;
  max-width: 1200px;
}

#menu a,
#menu .opener {
  font-weight: 400;
}

.posts article .image img {
  display: block;
  width: 100%;
  min-height: 200px;
  object-fit: cover;
  -o-object-fit: cover;
}

article.page-content {

  .image {
    display: block;
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;

      &.inline {
        display: inline;
        padding: 0 5px;
        width: 49%;
        vertical-align: middle;

      }
    }
  }
}

.features { 
    article {
      margin-bottom: 3em !important;
        .content { 
            width: 60%;
            padding-left: 15px;
            h3 { 
                font-weight: bold !important;
                margin-bottom: 10px;
            }
        }
    }
}

.image.right {
  max-height: 200px;
}

.image.right.small {
  max-width: 30%;
}

.video.right {
  @extend .image.right;
}

.padded {
  min-height: 200px;
}


.footer {
  border-top: solid 1px #EEEEEE;
  padding: 2em 1em;
}
