name: Update JavaDocs

concurrency: ci-modernize-tools-metadata

on:
  push:
    tags:
      - aem-modernize-tools-*
  workflow_dispatch:

jobs:
  generate-javadocs:
    runs-on: ubuntu-latest
    if: github.repository == 'adobe/aem-modernize-tools'

    steps:
      - name: Checkout tag
        uses: actions/checkout@v2
        
      - name: Store Version
        id: store-version
        run: echo "::set-output name=version::$(mvn -q help:evaluate -Dexpression=project.version -DforceStdout)"
        
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: 'main'

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11
          cache: maven

      - name: Build JavaDocs
        run: mvn clean process-resources -Pgenerate-site-docs,aemCloudService -pl .,core -Dproject.version=${{ steps.store-version.outputs.version }}

      - name: Commit Docs
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com
          git add docs/_apidocs
          git add docs/_pages
          git commit -m 'Updating Docs.'
          git push
